@import "tailwindcss";
@theme {
    --color-canvas: #f2f2f3;
    --color-ink: #1d1f20;

    /* Grises */
    --color-smoke-100: #f5f5f8;
    --color-smoke-300: #d4d4d7;
    --color-smoke-500: #98989b;
    --color-smoke-700: #5d5d60; 
    --color-smoke-900: #1F1F1F;

    --color-danger:      #b3261e;

    /* Fuente */
    --font-sans: "Manrope","Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
