@import "tailwindcss";
@theme {
    --color-canvas: #f2f2f3;
    --color-surface:  #e9e9ea;
    --color-ink: #1d1f20;
    --color-brand:   #5980a6;

    --color-brand-100: #eef6ff;
    --color-brand-300: #b5d9fd;
    --color-brand-500: #749dc4;
    --color-brand-700: #416180;
    --color-brand-900: #1d2d3d;

    /* Grises */
    --color-smoke-100: #f5f5f8;
    --color-smoke-300: #d4d4d7;
    --color-smoke-500: #98989b;
    --color-smoke-700: #5d5d60;

    --color-danger:      #b3261e;
}
